@model IEnumerable<Cumulative1.Model.Student>
<style>
    h1 {
        color: #C4D9FF;
    }

    div {
        border: 1px solid black;
    }

    body {
        font-family: Arial;
        background-color: #C5BAFF;
    }
</style>
<h1>Student Directory</h1>

<div>
    <input type="number" id="search" placeholder="Search" />
    <button id="SearchButton">Search</button>
    @foreach (var Student in Model)
    {
        <div>
            (@Student.Id)
            <a href="/StudentPage/Show/@Student.Id">
                <strong>@Student.Name</strong>
            </a>
        </div>
    }
</div>
<script>
    var searchButton = document.getElementById("SearchButton");
    searchButton.addEventListener("click", function () {
        var search = document.getElementById("search").value;
        window.location.href = "/StudentPage/Show/" + search;
    });
</script>