@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
        background-color: #E8F9FF;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the teacher Database, it fetchs data from SQL and displays it!</a>.</p>
</div>
