@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: #E8F9FF;
    }
    div {
        text-align: center;

    }
</style>
<div></div>
    <h1>@ViewData["Title"]</h1>

<p>This site was made by <strong>Parjad Minooei</strong>, &copy; 2025</p>
</div>